<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.system.mapper.UserMapper">
    <select id="pageQuery" resultType="com.sky.model.evaluate.User">
        select
            id,
            phone,
            nick_name,
            icon,
            create_time,
            update_time
        from tb_user
        <where>
            is_deleted = 0
            <if test="vo.phone != '' and vo.phone != null">
                and phone like concat("%",concat(#{vo.phone},"%"))
            </if>
            <if test="vo.nickName != '' and vo.nickName != null">
                and nick_name like concat("%",concat(#{vo.nickName},"%"))
            </if>
            <if test="vo.createTimeBegin != '' and vo.createTimeBegin != null">
                and create_time >= #{vo.createTimeBegin}
            </if>
            <if test="vo.createTimeEnd != '' and vo.createTimeEnd != null">
                and create_time &lt; #{vo.createTimeEnd}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>